@use '../utils/utils' as *;

.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &--primary {
    background-color: $primary-accent;
    color: $bg-dark;
    border: 1px solid $primary-accent;
    &:hover {
      background-color: transparent;
      color: $primary-accent;
    }
  }

  &--outline {
    background-color: transparent;
    color: $primary-accent;
    border: 1px solid $primary-accent;
    margin-left: 15px;
    &:hover {
      background-color: rgba(100, 255, 218, 0.1);
    }
  }

  &--centered {
    display: block;
    width: max-content;
    margin: 50px auto;
  }
}
