@use '../utils/utils' as *;

.contact {
  padding: 100px 10%;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;

  &__text {
    margin-bottom: 40px;
    font-size: 1.1rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    @include mobile {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__link {
    color: $text-bright;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $primary-accent;
      border-bottom: 2px solid $primary-accent;
    }
  }
}
